.root{
    display: flex;
    font-size: 30px;
    height: 100%;
}
.dot{
    align-items: flex-end;
    display: flex;
    height: 100%;
    color: rgb(201, 201, 201, 0.5);
}

.currentDot{
    color: white;
}