.root {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 30%;
}

.postComment {
  border-width: 0;
  background-color: transparent;
  font-weight: 400;
  margin-right: 1em;
  font-size: 1.17em;
  padding: 0;
  color: rgb(165, 212, 235);
  cursor: pointer;
}

.postComment:hover {
  color: #3fa7db;
}

.inputArea {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 0.5em;
}

.commentInput {
  border: none;
  width: 90%;
  font-size: 1.17em;
  margin-left: 00.5em;
}

.commentInput:focus {
  outline: none;
}

.smileSVG {
  font-size: 1.17em;
}
