.text {
  font-weight: 400;
  margin-left: 0.3em;
}

.profilePicture {
  height: 2em;
  width: 2em;
  margin-left: 0.5em;
  border-radius: 50%;
  border: double 1em transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right top, rgb(255, 175, 70), rgb(207, 83, 176));
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-width: 0.2em;
}

.boldText {
  font-weight: bold;
}

.svgImg {
  width: 1.5em;
  margin: 0 0.5em;
  cursor: pointer;
}

.postTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 0.3em;
}

.root {
  margin: 0;
  background-color: rgb(230, 230, 230);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
