.mainImg {
  height: 100%;
  width: 50em;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80");
}

.rightArrow{
  transform: rotate(180deg);
}

.arrow{
  margin: 0.5em;
  height: 1.7em;
  cursor: pointer;
}