.allLikes {
  margin: 1em 0em 0em 0.5em;
  display: flex;
  flex-direction: column;
}

.likeByWho {
  display: flex;
}

.UserLikeByPic {
  display: flex;
  flex-direction: row-reverse;
}

.likeProfilePicture {
  width: 1.5em;
  height: 1.5em;
  border: 0em;
}

.otherUserLikeByPic {
  margin-left: -0.5em;
}

.likeContentContainer {
  margin-left: 0.3em;
}

.hoursAgo {
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-top: 0.6em;
  font-weight: 600;
  color: #8e8e8e;
  opacity: 0.7;
}